# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env
*.env

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs and DB
*.log
*.sqlite3

# Build
build/
dist/
*.egg-info/
